<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<h1>Resultados</h1>
<div class="row">
    <div class="card col-md-6">
        <div class="mt-2">
            <label>
                DNS Obtenido: 66.225.201.119
            </label>
        </div>
        <div class="mt-2">
            <label> ip : 66.225.201.119</label>
            <button class=" btn btn-danger">Riesgo Alto</button>
        </div> 
        <div class="mt-2">
            <label> hostname : priva70.privatednsorg.com</label>
        </div>
        <div class="mt-2">
            <label> city : Chicago</label>
        </div>
        <div class="mt-2">
            <label> region : Illinois</label>
        </div>
        <div class="mt-2">
            <label> country : US</label>
            <button class=" btn btn-warning">Riesgo Medio</button>
        </div>
        <div class="mt-2">
            <label> loc : 41.8500,-87.6500</label>
        </div>
        <div class="mt-2">
            <label> org : AS23352 Server Central Network</label>
            <button class=" btn btn-warning">Riesgo Medio</button>
        </div>
        <div class="mt-2">
            <label> postal : 60666</label>
        </div>
        <div class="mt-2">
            <label> timezone : America/Chicago</label>
        </div>
        <div class="mt-2">
            <label> readme : https://ipinfo.io/missingauth</label>
            <button class=" btn btn-warning">Riesgo Medio</button>
        </div>
        <div class="mt-2">
            <label> Connection : Keep-Alive</label>
            <button class=" btn btn-success">Riesgo Bajo</button>
        </div>

        <div class="mt-2">
            <label> Content-Type : text/html; charset=utf-8</label>
        </div>
        <div class="mt-2">
            <label> Expires : Wed, 17 Aug 2005 00:00:00 GMT</label>
        </div>
        <div class="mt-2">
            <label> Last-Modified : Wed, 25 Aug 2021 08:01:46 GMT</label>
        </div>
        <div class="mt-2">
            <label> Cache-Control : no-store, no-cache, must-revalidate, post-check=0, pre-check=0</label>
        </div>
        <div class="mt-2">
            <label> Pragma : no-cache</label>
        </div>
        <div class="mt-2">
            <label> Transfer-Encoding : chunked</label>
            <button class=" btn btn-success">Riesgo Bajo</button>
        </div>
        <div class="mt-2">
            <label> Content-Encoding : gzip</label>
            <button class=" btn btn-success">Riesgo Bajo</button>
        </div>
        <div class="mt-2">
            <label> Vary : Accept-Encoding</label>
            <button class=" btn btn-success">Riesgo Bajo</button>
        </div>
        <div class="mt-2">
            <label> Date : Wed, 25 Aug 2021 08:01:46 GMT</label>
        </div>
        <div class="mt-2">
            <label> X-Content-Type-Options : nosniff</label>
        </div>
        <div class="mt-2">
            <label> Wordpress version: 5.0</label>
            <button class=" btn btn-warning">Riesgo Alto</button>
        </div>
        <div class="mt-2">
            <label> Tecnologia detectada: PHP</label>
        </div>
        <div class="mt-2">
            <label> Tecnologia detectada: Bootstrap</label>
        </div>
        <div class="mt-2">
            <label> Tecnologia detectada: Joomla</label>
            <button class=" btn btn-warning">Riesgo Alto</button>
        </div>
        <div class="mt-2">
            <label> Tecnologia detectada: jQuery</label>
        </div>
        <div class="mt-2">
            <label> Tecnologia detectada: Google Font API</label>
        </div>
        <div class="mt-2">
            <label> Tecnologia detectada: animate.css</label>
        </div>
        <div class="mt-2">
            <label> Tecnologia detectada: Font Awesome</label>
        </div>
        <div class="mt-2">
            <label> Tecnologia detectada: jQuery Migrate</label>
        </div>
        <div class="mt-2">
            <label> Tecnologia detectada: Slick</label>
        </div>
        <hr>
    
    </div>
    <div class="card col-md-6">
        <div>
            <h4> Resultado : Nivel medio</h4>
        </div>
        
        <div>
            <button class="btn btn-primary"> Ver detalles de métricas</button>
        </div>
    </div>
</div>

<hr>





{% endblock%}